In [43]:
import pandas as pd
from sqlalchemy import create_engine
from key import key

In [4]:
wine_file = "./Resources/winemag-data-130k-v2.csv"
wine_df = pd.read_csv(wine_file)
wine_df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [5]:
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [61]:
new_wine_df=wine_df[['country','designation','points','price','province','region_1','variety','winery']].copy()
wine_data=new_wine_df.dropna()
wine_data.head()
new_wine_data=wine_data.rename(columns={"country":"country","designation":"designation", "points":"points",
                            "price":"price","province":"province","region_1":"region",
                                       "variety":"variety", "winery":"winery"})

new_wine_data['id'] = range(1, len(new_wine_data) + 1)
new_wine_data=new_wine_data[['id','country','designation','points','price','province','region','variety','winery']]

new_wine_data.to_csv('wine_data.csv', index=False)

In [62]:
new_wine_data.head()

,id,country,designation,points,price,province,region,variety,winery
3,1,US,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Riesling,St. Julian
4,2,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Pinot Noir,Sweet Cheeks
5,3,Spain,Ars In Vitro,87,15.0,Northern Spain,Navarra,Tempranillo-Merlot,Tandem
6,4,Italy,Belsito,87,16.0,Sicily & Sardinia,Vittoria,Frappato,Terre di Giurfo
9,5,France,Les Natures,87,27.0,Alsace,Alsace,Pinot Gris,Jean-Baptiste Adam

In [11]:
beer_file = "./Resources/beer_reviews.csv"
beer_df = pd.read_csv(beer_file)
beer_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [12]:
new_beer_df=beer_df[['brewery_name','review_overall','beer_style','beer_name','beer_abv']]
new_beer_df

,brewery_name,review_overall,beer_style,beer_name,beer_abv
0,Vecchio Birraio,1.5,Hefeweizen,Sausa Weizen,5.0
1,Vecchio Birraio,3.0,English Strong Ale,Red Moon,6.2
2,Vecchio Birraio,3.0,Foreign / Export Stout,Black Horse Black Beer,6.5
3,Vecchio Birraio,3.0,German Pilsener,Sausa Pils,5.0
4,Caldera Brewing Company,4.0,American Double / Imperial IPA,Cauldron DIPA,7.7
...,...,...,...,...,...
1586609,The Defiant Brewing Company,5.0,Pumpkin Ale,The Horseman's Ale,5.2
1586610,The Defiant Brewing Company,4.0,Pumpkin Ale,The Horseman's Ale,5.2
1586611,The Defiant Brewing Company,4.5,Pumpkin Ale,The Horseman's Ale,5.2
1586612,The Defiant Brewing Company,4.0,Pumpkin Ale,The Horseman's Ale,5.2
1586613,The Defiant Brewing Company,5.0,Pumpkin Ale,The Horseman's Ale,5.2

In [58]:
beer_data=new_beer_df.drop_duplicates()
beer_data=beer_data.dropna()
new_beer_data=beer_data.rename(columns={"brewery_name":"brewery","review_overall":"overall_review", "beer_style":"beer_style",
                            "beer_name":"beer_name","beer_abv":"abv"})
new_beer_data['id'] = range(1, len(new_beer_data) + 1)
new_beer_data=new_beer_data[['id','brewery','overall_review','beer_style','beer_name','abv']]
new_beer_data.head()

,id,brewery,overall_review,beer_style,beer_name,abv
0,1,Vecchio Birraio,1.5,Hefeweizen,Sausa Weizen,5.0
1,2,Vecchio Birraio,3.0,English Strong Ale,Red Moon,6.2
2,3,Vecchio Birraio,3.0,Foreign / Export Stout,Black Horse Black Beer,6.5
3,4,Vecchio Birraio,3.0,German Pilsener,Sausa Pils,5.0
4,5,Caldera Brewing Company,4.0,American Double / Imperial IPA,Cauldron DIPA,7.7

In [38]:
new_beer_data.to_csv('beer_data.csv', index=False)

In [45]:
rds_connection_string = (f"postgres:{key}@localhost:5432/etl")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [46]:
engine.table_names()

['wine', 'beer']

In [63]:
new_wine_data.to_sql(name='wine', con=engine, if_exists='append', index=False)

In [59]:
new_beer_data.to_sql(name='beer', con=engine, if_exists='append', index=False)

In [64]:
pd.read_sql_query('select * from wine', con=engine).head()

,id,country,designation,points,price,province,region,variety,winery
0,1,US,Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,Riesling,St. Julian
1,2,US,Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Pinot Noir,Sweet Cheeks
2,3,Spain,Ars In Vitro,87,15.0,Northern Spain,Navarra,Tempranillo-Merlot,Tandem
3,4,Italy,Belsito,87,16.0,Sicily & Sardinia,Vittoria,Frappato,Terre di Giurfo
4,5,France,Les Natures,87,27.0,Alsace,Alsace,Pinot Gris,Jean-Baptiste Adam

In [65]:
pd.read_sql_query('select * from beer', con=engine).head()

,id,brewery,overall_review,beer_style,beer_name,abv
0,1,Vecchio Birraio,1.5,Hefeweizen,Sausa Weizen,5.0
1,2,Vecchio Birraio,3.0,English Strong Ale,Red Moon,6.2
2,3,Vecchio Birraio,3.0,Foreign / Export Stout,Black Horse Black Beer,6.5
3,4,Vecchio Birraio,3.0,German Pilsener,Sausa Pils,5.0
4,5,Caldera Brewing Company,4.0,American Double / Imperial IPA,Cauldron DIPA,7.7